*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* The box-sizing property allows us to include the padding and border in an element's total width and height. */
  /* If you set box-sizing: border-box; on an element, padding and border are included in the width and height */
}
.container {
  width: 1000px;
  height: 1000px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
  background-color: rgb(230, 228, 228);
}
.title{
  text-align:center;
  font-weight: bold;
  font-size: 54px;
  padding-right: 72px;
  padding-right: 400px;
}
.flex-container{
  display: flex;
  justify-content: center;
  background-color:red;
}
.flex-container > div {
  background-color: #f1f1f1;
  width: 1000px;
  height: 800px;
  margin: 5px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}


